venv
.venv
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
.env
.env.*
.DS_Store
.idea/
*.iml
*.log
coverage/
htmlcov/
.tox/
*.egg-info/
dist/
build/
pip-wheel-metadata/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.pyright/
